// Add your own CSS here!

:root {
  --light: #fff8e7; //faf8f8, light mode background
  --dark: #000500; //141021, headings 2c3531
  --secondary: #576653; //284b63, internal links and nodes
  --tertiary: #72a276; //84a59d, internal links when hover mouse
  --visited: #afbfc9; //afbfc9, other nodes when a node was hovered
  --primary: #d64933; //primary node f28482
  --gray: #4e4e4e; //4e4e4e, text
  --lightgray: #f0f0f0; // background of search bar, f0f0f0
  --outlinegray: #dadada; // outlines (graph, backlinks and links) dadada
  --million-progress-bar-color: var(--secondary);
}

[saved-theme="dark"] {
  --light: #22241b !important; //1e1e21, dark mode background 182628
  --dark: #fbfffe !important; //fbfffe, headings
  --secondary: #73876d !important; //6b879a, internal links and nodes
  --visited: #666b6a !important; //4a575e, other nodes when a node was hovered
  --tertiary: #72a276 !important; //internal link text when hover mouse
  --primary: #f58382 !important; //primary node
  --gray: #d4d4d4 !important; //text
  --lightgray: #414535 !important; //292633
  --outlinegray: #343434 !important; //343434
}

#banner {
  margin: 3em 0;
  filter: invert(0%);
  opacity: 0.85;

  [saved-theme="dark"] & {
    filter: invert(100%);
  }
}

#index {
  & > .bio {
    display: flex;
    gap: 1.5em;
    z-index: 1;
    position: relative;

    @media screen and (max-width: 1440px) {
      flex-direction: column-reverse !important;
      gap: 4em;
    }

    & > .writing-sidebar {
      flex: 0 0 30%;

      & > div {
        margin-bottom: 2em;
      }

      & ul {
        list-style: none;
        padding: 0;
        margin-left: 0;
        z-index: 0;
      }

      & > div > a {
        opacity: 0.6;
      }

      & h2 {
        font-size: 1.4rem;
        margin: 0.75em 0;
      }
      
      & li {
        margin-bottom: 0.8em;
      }

      & h3 {
        margin: 0;
      }

      & .meta {
        margin: 0.2em 0;
      }

      & .tags > li > a {
        font-size: 0.9em;
        font-weight: 600;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

[show-animation="true"] .delay {
  animation: fadeIn ease 0.5s;
  opacity: 0;
  animation-fill-mode: forwards;

  &.t-1 {
    animation-delay: 0.5s;
  }

  &.t-2 {
    animation-delay: 0.9s;
  }

  &.t-3 {
    animation-delay: 2s;
  }

  &.t-4 {
    animation-delay: 2.2s;
  }

  &.t-5 {
    animation-delay: 2.4s;
  }

  @for $j from 1 through 5 {
  @for $i from 1 through 10 {
  &.stagger:nth-last-of-type(#{$j}) > *:nth-child(#{$i}) {
    animation: fadeIn ease 0.5s;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: #{$i * .08 + 2.2}s;
    z-index: #{-$i + 10 * ($j+1)};
    position: relative;
  }
  }
  }
}

hr {
  overflow: visible; /* For IE */
  padding: 0;
  margin: 5em auto;
  border: none;
  color: var(--gray);
  text-align: center;
  width: 40%;
  z-index: -999;
  border-color: var(--gray);
  &:after {
    content: "* * *";
    z-index: -999;
    display: inline-block;
    margin: -1em 0 0.5em;
    font-size: 1.5em;
    padding: 0.5em 1em;
    background: var(--light);
    transform: translateY(-0.1em);
  }
}

