<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}

<body>
{{partial "search.html" .}}
<div id="index" class="singlePage">
    {{partial "header.html" .}}
    <img id="banner" src="https://thdngan.github.io/quartz/banner.svg" />
    <div class="bio">
	    <article>
            <p>Hello, I'm Ngân Trịnh. You can call me Ryan!</p>
            <div class="delay stagger">{{partial "textprocessing.html" . }}</div>
        </article>
        <div class="writing-sidebar">
            <div class="delay t-3">
	            {{partial "toc.html" .}}
	            {{if $.Site.Data.config.enableRecentNotes}}
		                {{partial "recent.html" . }}
		        {{end}}
            </div>
        </div>
    </div>
    <div class="delay t-4">
        {{partial "footerIndex.html" .}}
    </div>
</div>
</body>
</html>
